body {
  font-family: Arial, sans-serif;
  background: #f4f6f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: white;
  padding: 25px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
}

.input-box {
  display: flex;
}

input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
}

button {
  padding: 8px 10px;
  margin-left: 5px;
  cursor: pointer;
}

.meter {
  height: 10px;
  background: #ddd;
  margin-top: 10px;
  border-radius: 5px;
}

#bar {
  height: 100%;
  width: 0%;
  background: red;
  border-radius: 5px;
  transition: 0.3s;
}

ul {
  font-size: 14px;
  margin-top: 10px;
}

.btns {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
